@import 'nprogress/nprogress.css'
@import './index.css'

html,
body,
#app
  margin: 0
  padding: 0

#nprogress
  pointer-events: none

  & .bar
      position: fixed
      z-index: 1031
      top: 0
      left: 0
      width: 100%
      height: 2px